<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>
      <ul>
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :aniversario %>
    <%= form.date_select :aniversario %>
  </div>

  <div class="field">
    
    <%= form.label :newsletter %>
    <%= form.check_box :newsletter %>
  </div>

  <div class="field">
    <%= form.label :user_id, "Usuário" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Selecione um usuário" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
